<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <script src="https://kit.fontawesome.com/1c182a0705.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body  >

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Bootstrap Productivity</a>
    <button type="button"
            data-target="#navbarNav"
            class="navbar-toggler"
            data-toggle="collapse"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"

    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Fantasy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Horror</a>
            </li>

        </ul>

    </div>
</nav>


    <section class="container-fluid bg-light text-center">
<!--    conditional if no books are in the list-->
        <div th:if="${noBooksFound}">
            <h3>No Books were found</h3>
        </div>

<!--    list out the books in the list-->

    <div class="row d-flex justify-content-center ">
        <div th:each="book : ${books}" class="col-md-6 my-5 py=lg=5 "  >

            <h3 th:text="${book.title}" class="card-title"></h3>
            <p th:text="${book.author}" class="card-text"></p>
            <p th:text="${book.genre}" class="card-text"></p>
            <p th:text="${book.release_date}" class="card-text"></p>

        </div>
    </div>

</section>

<section class="container-fluid text-center bg-light my-4 py-4">
    <h3>Social Media</h3>
    <div class="row my-4">
        <div class="col">
            <i class="fas fa-users fa-5x"></i>
            <p>multiple users</p>

        </div>

        <div class="col">
            <i class="fas fa-users fa-5x"></i>
            <p>multiple users</p>

        </div>

        <div class="col">
            <i class="fas fa-users fa-5x"></i>
            <p>multiple users</p>

        </div>

        <div class="col">
            <i class="fas fa-users fa-5x"></i>
            <p>multiple users</p>

        </div>

    </div>



</section>


</body>
</html>