<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
</head>
<body>
    <h1>View Book</h1>
    <div class="container">

        <h3>Title:<span th:text="${showBook.title}"></span></h3>

        <p>Author:<span th:text="${showBook.author}"></span></p>

        <p>Genre:<span th:text="${showBook.genre}"></span></p>

        <p>Release Date:<span th:text="${showBook.release_date}"></span></p>
       

    </div>

    <a href="/books">Back to the list</a>


</body>
</html>