<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Spring Boot Application</h1>
<!--    conditional-->
    <div th:if="${noAdsFound}">
        <h3>No Ads were found</h3>
    </div>

<!--    lists out the ads in the list-->
    <div th:each="ad : ${ads}">
        <h3 th:text="${ad.title}"></h3>

        <p th:text="${ad.description}"></p>

        <a th:href="'/ads/' + ${ad.id} + '/edit'">Edit</a>

    </div>

</div>



    <a href="/ads/create">Create an Ad</a>


</body>
</html>