<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Ad</title>
</head>
<body>
    <h1>View Ad</h1>

    <div class="container">


        <h3>Title<span th:text="${showAd.title}"></span></h3>

        <p><span th:text="${showAd.description}"></span></p>

    </div>

</body>
</html>