<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    //Attribute from DataController: displayName
    <h1>hello, <span th:text="${displayName}">World</span></h1>
</body>
</html>