<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join View</title>
</head>
<body>
    <h1 th:text="${classroom}"></h1>

    <form action="/join" method="post">
    <input type="text" name="classroom">//name attribute
    <button>Enter</button>
    </form>
</body>
</html>