<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Employees</title>

</head>
<body>
    <nav th:include="fragments/navbar"></nav>
    <h1>Employees</h1>

<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--                <th>Email</th>-->
<!--                <th>Role</th>-->

<!--                <th></th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

<!--        <tr th:each="employee : ${employees}">-->

<!--            <td th:text="${employee.name}"></td>-->
<!--            <td th:text="${employee.email}"></td>-->
<!--            <td th:text="${employee.role}"></td>-->
<!--            <td th:if="${employee.role} == 'ADMIN'">User is admin</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--updating table-->
    <table class="table table-striped">
        <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.role}"></td>
            <td th:if="${employee.role} == 'ADMIN'">This user is admin</td>
        </tr>
        </tbody>
    </table>

</body>
</html>