<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/bootstrap">
    <meta charset="UTF-8">
    <title>Company Employees</title>
</head>
<body>


<!--    <div th:include="fragments/navbar"></div>-->

    <h1>Company Employees</h1>

    <table>
        <thead>
        <tr>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Email Address</th>
        </tr>
        </thead>

    <tbody>
    <tr>
        <td th:text="${first_name}"></td>
        <td th:text="${last_name}"></td>
        <td th:text="${city}"></td>
        <td th:text="${state}"></td>
        <td th:text="${email_address}"></td>
    </tr>
    </tbody>
    </table>
</body>
</html>