<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Values</title>
</head>
<body>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Email </th>
        </tr>
        </thead>
<!--        <td th:text="${firstName}"></td>-->
<!--        <td th:text="${lastName}"></td>-->
<!--        <td th:text="${city}"></td>-->
<!--        <td th:text="${state}"></td>-->
<!--        <td th:text="${email}"></td>-->
    </table>

</body>
</html>